<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <title>Informatica Playground</title>
    </head>
    <body>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>
        <main>

            <div class="container col-xl-10 py-5">
                <div class="alert alert-danger" role="alert" th:if="${error == true}">
                    <h4 class="alert-heading">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        An error has ocurred
                    </h4>
                    <p th:text="${errorDetails}" />
                    <hr>
                    <a href="/cdmp/file-upload" role="button" class="btn btn-outline-secondary">Retry</a>
                </div>
                <div class="py-3 text-center" th:unless="${error == true}">
                    <h1 class="display-5 fw-bold">Results:</h1>
                </div>
                <table class="table" th:unless="${error == true}">
                    <thead>
                    <tr>
                        <th scope="col" th:each="row : ${headers}" th:text="${row.name}">Header</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="record : ${records}">
                            <td th:each="column : ${record.columns}" th:class="${column.values[0].id == null} ? 'table-danger' : 'table-success'">
                                <span th:each="value : ${column.values}" th:text="${value.text}">Value</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a href="/cdmp/file-upload" role="button" class="btn btn-primary btn-lg mt-2 w-100" th:unless="${error == true}">Start Over</a>
            </div>







        </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    </body>
</html>